
h1{
  font-size: 50px;
  font-family: 'Dosis', sans-serif;
  color: white;
  text-align: left;
  /*background-color: #2C4087;*/
  background: linear-gradient(#2C4087, #E1F2F3);
  padding: 50px;
  margin: 0;
  text-decoration: underline;
  text-decoration-style: dotted;
}

body {
/*  font-family: 'Alegreya Sans';*/
/*  font-weight: bold;*/
  /*font-size: 30px;*/
}

.domainsCon{
  display: flex;
  flex-direction: column;
  width: 13%;
  height: 600px;
  float: left;
  position: relative;
/*  top:19px;*/
  background-color:#E1F2F3 ;
  /*border:1px solid white;*/
  border-right: 1px solid white;
  
}

.button {
  border: 2px black;
  font-family: 'Alegreya Sans';
  font-weight: bold;
  text-align: left;
  color: #2C4087;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 100%;
  background-color: #E1F2F3;
}

.categoriesCon{
  display: flex;
  background-color: #E1F2F3;
  flex-direction: column;
  width: 13%;
  /*height: 600px;*/
  float: left;
  height: 600px;
  position: relative;
/*  top: 19px;*/
  border-right: 1px solid white;
}

.catButton{
  display: flex;
  flex-direction: column;
  font-family: 'Alegreya Sans';
  font-weight: bold;
  font-size: 17px;
  border: 2px black;
/*  border-radius: 10px;*/
  width: 100%;
  float: left;
  background-color: #E1F2F3;
  /*padding-left: 6px;
  padding-top: 10px;*/
  padding-bottom: 10px;
  padding-top: 10px;
  /*height: 30px;*/
  text-align: left;
  color: #2C4087;
}

.questionsCon{
  display: flex;
  padding: 5px;
  background-color: #E1F2F3;
  flex-direction: column;
  width: 25%;
  float: left;
  overflow: auto;
  position: relative;
  height: 590px;
  border-right: 1px solid white;
}

.questions{
  font-family: 'Alegreya Sans';
/*  font-weight: bold;*/
  font-size: 17px;
  width: 100%;
  float: left;
  /*padding-left: 6px;*/
  text-align: left;
  color:#2C4087;
}

.result{
  border: 1px solid black;
  height: 570px;
  width: 670px;
  overflow: auto;
  padding: 5px;
  white-space: pre-line;
}
 
.resultCont{
  font-family: 'Alegreya Sans';
  position: fixed;
  right: 7px;

}
.questionText{
  background-color: lightgoldenrodyellow;
  font-style:italic;
}

 